
html, body{
  height: 100%;
}
* {
  box-sizing: border-box;
}
body{
background:url();

font-family: 'Orbitron', sans-serif;

}


img{
  max-width: 100%;
  height: auto;
}

ul{
   list-style-type: none;
}

li{
  text-decoration: none;


}
a{
  color: inherit;
  text-decoration: none;
}
