html, body {
  height: 100%;
  line-height: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #262626;
  position: relative;
  font-family: 'Orbitron', sans-serif;
  color: #FFF;

  @mixin atSmall {
    background: url('../../assets/images/background1.jpg') fixed no-repeat center;
  }

  @font-face {
    font-family: 'Maiden Crimes';
    src: url('../../assets/fonts/Maiden Crimes.otf');
    font-weight: normal;
    font-style: normal;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 1.17em;

  @mixin atSmallXL {
    font-size: 1.4em;
  }

  @mixin atMediumXL {
    font-size: 1.5em;
  }
}