.address {
  /* background: url('../../assets/images/fire.jpg'); */
  /* border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF; */
  margin: 0 auto;
  text-align: center;
  z-index: 99;
  @mixin clearfix;
  &__item {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-top: 1%;
    padding: 1% 0;
    @mixin atMediumXL {
      font-size: 1.2rem;
      margin-top: 1%;
      padding: 2% 0;
    }
  }
  &__fieldset {
    background-color: rgba(11, 11, 9, 0.92);
  }
}