.banner {
  position: relative;
  max-height: 750px;
  margin-bottom: 7%;
  @mixin clearfix;
  &__image {
    margin: 0 auto;
    position: relative;
    /*to move subtitle on top */
    z-index: -1;
    @mixin atMedium {}
  }
  &__subtitle {
    font-family: Maiden Crimes, 'Orbitron', sans-serif;
    display: inline-block;
    color: #000;
    text-shadow: 2px 2px 0 #FFF, -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 2px 4px #FFF, 1px 4px 4px #000;
    &--on-the-right {
      @mixin atMedium {
        letter-spacing: 2.5px;
        float: right;
        margin-top: -25.5%;
        margin-right: 6.5%;
        font-weight: 500;
        font-size: 1.47em;
      }
      @mixin atMediumXL {
        letter-spacing: 2px;
        float: right;
        margin-top: -25.5%;
        margin-right: 6.5%;
        font-weight: 600;
        font-size: 1.63em;
      }
      @mixin atLarge {
        font-size: 1.8em;
        font-weight: 600;
      }
    }
  }
  &__side-offer {
    display: none;
    border-radius: 5%;
    position: absolute;
    top: 18%;
    color: white;
    width: 657px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.76);
    animation: boxS 2.5s ease-in 1;
    box-shadow: 0 4px 26px 7px white;
    span {
      color: red;
    }
    a {
      display: inline-block;
      animation: text .8s infinite linear;
      &:hover {
        animation: none;
        color: rgb(255, 193, 173);
        text-decoration: underline;
      }
    }
    &__close {
      position: relative;
      float: right;
      z-index: 99;
      /* to make whole 'x' area clickable */
      padding: 5%;
      font-size: 1.3rem;
      padding: 1% 2% 0 0;
      &:hover {
        color: #fabb69;
        cursor: pointer;
      }
    }
  }
  &__btn-container {
    border-radius: 30px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 5px 1px #FFF;
    transition: all 0.3s. linear;
    &:hover {
      box-shadow: 0px 3px 5px 3px #FFF;
    }
    &:active {
      bottom: 13.7%;
      box-shadow: 0px 1px 2px 0px #FFF;
    }
    @mixin atMedium {
      border-radius: 30px;
      position: absolute;
      left: 76%;
      bottom: 14%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 3px 5px 1px #FFF;
    }
    @mixin atMediumXL {
      border-radius: 30px;
      position: absolute;
      left: 50%;
      bottom: 14%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 3px 5px 1px #FFF;
    }
  }
}

@keyframes boxS {
  from {
    box-shadow: 0 0px 0px 0px white;
  }
  to {
    box-shadow: 0 4px 26px 7px white;
  }
}

@keyframes text {
  from {
    color: inherit;
  }
  to {
    color: #ffdf02;
  }
}