
/* @font-face {
font-family: 'AllStar';
src: url('../../assets/fonts/AllStar.ttf') format('truetype');
font-weight: normal;
font-style: normal;
} */
.banner{

  max-height: 750px;
  @mixin clearfix;

  &__image{
    position: relative; /*to move subtitle on top */
    z-index: -1;
  }

  &__subtitle{
    display: inline-block;
    text-shadow:;

    @mixin atMedium{

      &--on-the-right{
        float:right;
        margin-top: -25.5%;
        margin-right: 5%;
        font-weight: 900;
        font-size: 2rem;
      }
    }
  }
}
