.btn {
  font-family: 'Orbitron', sans-serif;
  box-shadow: inset 0px 38px 0px -17px #b54b3a;
  background: linear-gradient(to bottom, #280e15 5%, #b34332 100%);
  background-color: #a73f2d;
  border-radius: 30px;
  border: 3px solid #241d13;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  transition: all .2s linear;

  &:hover {
    color: #000;
  }

  &:active {
    color: #faff00;
    box-shadow: none;
  }

  &__banner {
    padding: 7px 11px;
    font-size: .9em;

    @mixin atUltraSmall {
      font-size: 1em;
    }

    @mixin atSmallXL {
      padding: 9px 18px;
      font-size: 1em;
    }

    @mixin atMedium {
      padding: 10px 15px;
      font-size: 1.1em;
    }

    @mixin atMediumXL {
      padding: 13px 23px;
    }

    @mixin atLarge {
      font-size: 1.3em;
    }
  }

  &__address {
    padding: 9px 21px;
    font-size: 1.2rem;

    @mixin atSmallXL {
      padding: 12px 24px;
      font-size: 1.4rem;
    }

    @mixin atMediumXL {
      font-size: 1.1rem;
    }
  }
}