.form {
  margin: 0 auto;
  padding: 3% 0;
  max-height: 100%;
  max-width: 1000px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #302f2eed;
  z-index: -99;
  font-size: 1.3rem;
  overflow: hidden;
  @mixin atMediumXL {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &>div {
    @mixin atMediumXL {
      /* display: inline-block;
      width: 33%; */
      flex: 0 1 33%;
    }
  }
  &__label {
    display: block;
    padding: 2% 0;
    &--margin-t-bigger {
      margin-top: 10%;
      @mixin atMediumXL {
        margin-top: 1%;
      }
    }
    &--padding-b-smaller {
      padding-bottom: 1.5%;
    }
  }
  &__btn-container {
    display: inline-block;
    /* margin: 0 auto; */
    border-radius: 30px;
    box-shadow: 0px 3px 5px 1px #FFF;
    transition: all 0.3s. linear;
    &:hover {
      box-shadow: 0px 3px 5px 3px #FFF;
    }
    &:active {
      bottom: 13.7%;
      box-shadow: 0px 1px 2px 0px #FFF;
    }
  }
  &__submit {
    text-align: center;
    margin-top: 4%;
    @mixin atMediumXL {
      margin-top: 0;
    }
  }
  &__social-icons-container {
    text-align: center;
  }
  &__input, &__message {
    max-width: auto;
    text-align: center;
  }
}