.form {
  margin: 0 auto;
  padding: 3% 0;
  max-height: 100%;
  max-width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #302f2eed;
  position: relative;
  z-index: -99;
  transform: translate(0, -100%);
  &>div {
    @mixin atMedium {
      display: inline-block;
      width: 33%;
    }
  }
  &__label {
    display: block;
    padding: 1.5% 0 1.5% 0;
    &--margin-t-bigger {
      margin-top: 3%;
    }
    &--padding-b-smaller {
      padding-bottom: 1.5%;
    }
  }
  &__btn-container {
    display: inline-block;
    /* margin: 0 auto; */
    border-radius: 30px;
    box-shadow: 0px 3px 5px 1px #FFF;
    transition: all 0.3s. linear;
    &:hover {
      box-shadow: 0px 3px 5px 3px #FFF;
    }
    &:active {
      bottom: 13.7%;
      box-shadow: 0px 1px 2px 0px #FFF;
    }
  }
  &__submit {
    text-align: center;
  }
  &__social-icons-container {
    text-align: center;
  }
  &__input, &__message {
    text-align: center;
  }
}