.main-nav{


  text-align: center;
  font-weight: 900;
  font-size: 1.1rem;


  ul{
    float: right;
    height: inherit;
    padding: 0;
    margin: 0;
    @mixin clearfix;
    @mixin atMedium{
      margin-right: 72px;
    }


  }
  li{
    display: inline-block;
    margin: 0 5px;
    padding-right: 10px;
  }

  a{
    display: block;
    padding: 18px 0px;
    height: 100%;

    &:hover {
      background-color: grey;
    }

  }
  &__logo{
    display: inline-block;
    max-width: 160px;
    position: absolute;
    transform: scale(.8);
    @mixin atMedium{
      margin-left: 86px;
      margin-top: -47px;
    }


  }
}
