.main-nav {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 1.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    height: inherit;
    padding: 0;
    margin: 0 0 0 52%;
  }
  li {
    display: inline-block;
    margin: 0 5px;
    padding-right: 15px;
  }
  a {
    position: relative;
    display: inline-block;
    padding: 18px 0px;
    height: 100%;
    &:after {
      position: absolute;
      content: "";
      height: 3px;
      background-color: white;
      width: 100%;
      bottom: 14px;
      left: 0;
      transform: scale(0);
      transition: transform .3s ease-out;
      transform-origin: left;
    }
    &:hover:after {
      transform: scale(1);
    }
  }
  &__logo {
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 63px;
    z-index: 99;
    top: 25%;
    margin-left: 10%;
    /* margin-right: 60%; */
    transform: scale(1.3);
  }
}