.text-container {
  overflow: hidden;
  color: white;
  text-align: center;
  line-height: normal;
  font-size: 1.9rem;
  @mixin atMediumXL {
    line-height: 1.85;
  }
  &--dark-background {
    margin-top: 20px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 0 3px 28px rgba(219, 118, 6, 0.9);
  }
  &__girlPicture {
    max-height: 373px;
    margin-top: -61%;
    float: left;
  }
  &__heading {
    text-decoration: underline;
    &--no-underline {
      text-align: center;
      text-decoration: none;
    }
  }
  &--bold {
    font-weight: 900;
  }
  &__heading--our-offer {
    @mixin atLarge {
      font-size: 2.5rem;
      margin-right: -172px;
    }
  }
  &__why-list {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.5rem;
    @mixin atLarge {
      text-align: right;
      font-size: 1.8rem;
      line-height: 3rem;
    }
    li {
      display: inline-block;
      @mixin atMediumXL {
        padding-right: 2%;
        margin-top: 3%;
      }
      &:nth-child(1) {
        animation-delay: 0;
      }
      &:nth-child(2) {
        animation-delay: .3s;
      }
      &:nth-child(3) {
        animation-delay: .5s;
      }
    }
  }
  &__arrow {
    position: absolute;
    left: 50.8%;
    margin-top: -4%;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-top: orange;
    border-left: orange;
    transform: rotate(45deg);
    animation: arrow 1.2s infinite linear;
    z-index: -1;
    &:before, &:after {
      position: absolute;
      content: "";
      width: inherit;
      height: inherit;
      border: 2px solid #000;
      border-top: orange;
      border-left: orange;
    }
    &:before {
      left: -12px;
      top: -13px;
    }
    &:after {
      left: 10px;
      top: 10px;
    }
  }
  &__learn-more {
    position: relative;
    background-color: orange;
    z-index: 1;
    transition: all .3s ease-in;
    display: inline-block;
    width: 100%;
    &:hover {
      background-color: #000;
      border-top: 3px solid #FFF;
      cursor: pointer;
      a {
        &:hover {
          color: orange;
        }
      }
      .text-container__arrow {
        transition: all .5s ease-in;
        top: 90px;
        width: 15px;
        height: 15px;
        border: 2px solid #FFF;
        border-top: #000;
        border-left: #000;
        animation: none;
      }
    }
    &__text {
      margin: 0 auto;
    }
  }
  &__mission-statement {
    text-align: center;
    padding: 0 10%;
    /*  */
  }
  &__coachName {
    display: inline-block;
    margin: 0;
  }
  &__coachAbout {
    display: inline-block;
    line-height: 1.35;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    padding: 1.5%;
    font-style: italic;
  }
}

@keyframes arrow {
  0% {
    top: 25px;
  }
  25% {
    top: 50px;
  }
  50% {
    top: 75px;
  }
  75% {
    top: 100px;
  }
  100% {
    top: 130px;
  }
}