.text-container{
  overflow: hidden;
  color: white;
  text-align: center;
  line-height: 1.85;
  font-size: 1.9rem;
  font-family: 'Orbitron', sans-serif;
  &--dark-background{

    margin-top: 20px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 0 3px 28px rgba(219, 118, 6, 0.9);
  }

  &__girlPicture{
    float: left;
    max-height: 373px;
    shape-outside: circle();
    margin-top:-70%;

  }

  &__heading{


  }

  &__heading--our-offer{
    font-size: 2.5rem;
    margin-right:-172px;
  }

  &__why-list{
    text-align: right;
    font-size: 1.8rem;
    line-height: 3rem;

    li{
      padding: 2%;
    }
  }

  &__learn-more{
    position: relative;
    background-color: orange;
    z-index: 1;
    padding: 17px;
    transition: all .4s ease-in;
    &:hover {
      background-color: #000;
      border-top: 3px solid #FFF;
      cursor: pointer;
       .text-container__arrow{
        border: 2px solid #FFF;
        animation: none;
        border-top: #000;
        border-left: #000;
      }

    }


    &__text{
      margin: 0 auto;
    }

  }

  &__arrow{
    position: absolute;
    display: inline-block;
    margin: -21px auto 0 auto;
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-top: orange;
    border-left: orange;
    transform: rotate(45deg);
    animation: arrow 1s infinite linear;
    z-index: -1;
/*  */


    &:before, &:after{
      position:absolute;
      content:"";
      width: inherit;
      height: inherit;
      border: 2px solid #000;
      border-top: orange;
      border-left: orange;

    }
    &:before{
      left:-12px;
      top:-13px;
    }

    &:after{
      left:10px;
      top:10px;
    }


  }

  &__mission-statement{
    font-size: 1.75rem;
    /*  */

  }


}

@keyframes arrow {
  /* 0% {transform: translate(-80deg);}
  50% {transform: translate(0deg);}
  100% {transform: translate(80deg);} */
  0% {top:75px;}
  50% {top: 100px;}
  100% {top:120px;}
}
